/* Style reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
ol,
body {
    margin: 0;
}

:root {
    /* Color */
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-grey-500: hsl(234, 12%, 34%);
    --color-grey-400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);
    --color-shadow: hsla(213, 47%, 67%, 0.5);

    /* Spacing */
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
}

body {
    background-color: #fafafa;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin-top: var(--spacing-400);
}

header {
    max-width: 540px;
    text-align: center;
}

h3 {
    margin-bottom: 6px;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-400);
}

.middle-cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

.card {
    max-width: 350px;
    background-color: var(--color-white);
    border-radius: var(--spacing-100);
    box-shadow: 0px 15px 30px -11px var(--color-shadow);
    overflow: hidden;

    p {
        margin-bottom: var(--spacing-400);
    }
}

.padding {
    width: 100%;
    height: 100%;
    padding: var(--spacing-400);
}

.text-preset-1 {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 0.25px;
    color: var(--color-grey-500);
}

.text-preset-2 {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 200;
    letter-spacing: 0.25px;
    color: var(--color-grey-500);
}

.text-preset-3 {
    font-size: 1.33rem;
    line-height: 1.35;
    font-weight: 600;
    color: var(--color-grey-500);
}

.text-preset-4 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-grey-400);
}

.text-preset-5 {
    font-size: 0.86rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--color-grey-500);
}

.decor {
    position: relative;
    width: 100%;
    height: 4px;
}

.red {
    background-color: var(--color-red);
}

.cyan {
    background-color: var(--color-cyan);
}

.orange {
    background-color: var(--color-orange);
}

.blue {
    background-color: var(--color-blue);
}

@media (min-width: 768px) {

    .text-preset-1,
    .text-preset-2 {
        font-size: 2.4rem;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    main {
        margin-top: 70px;
    }
}
